@{
    Layout = "_Layout";
}

@model List<Foto>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Album Foto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/FotoIndexStyle.css" />
</head>
<body>
<h1>Lista fotografie</h1>

    @if (User.IsInRole("ADMIN"))
    {
        <div class="d-flex gap-3">
            <div class="container mt-4">
                <button type="button" class="btn btn-primary">
                    <a style="color:white" ; href="@Url.Action("Create","Foto")"><b>Inserisci una foto</b></a>
                </button>
            </div>

            <div class="container mt-4">
                <button type="button" class="btn btn-primary">
                    <a style="color:white" ; href="@Url.Action("Index","Categoria")"><b>Categorie</b></a>
                </button>
            </div>
        </div>
    }



    @if(Model.Count() == 0)
    {
        <h3>Non ci sono foto da mostrare</h3>
    }

   <div class="container">
       <div class="row mt-3 gy-5">

           @foreach (Foto foto in Model)
           {
               <div class="col-4">
                   <div class="card-container">
                        <div class="card-foto d-flex flex-column align-items-center">

                            <div class="titolo-foto">
                                <h4><b>@foto.Titolo</b></h4>
                            </div>

                            <div class="container-img-foto">
                                <img src="@foto.FotoSrc" class="card-img-foto" alt="...">
                            </div>

                            <div class="descrizione-foto mt-3">
                                <p><b>@foto.Descrizione</b></p>
                            </div>

                            <div>
                                <strong>Categorie:</strong>

                                @if (foto.Categorie != null && foto.Categorie.Count > 0)
                                {
                                    <ul>
                                        @foreach (Categoria categoria in foto.Categorie)
                                        {
                                            <li>@categoria.Nome</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>Non hai ancora categorie associate! </span>
                                }

                            </div>


                            <div>
                                <button type="button" class="btn btn-primary">
                                    <a style="color:white" ; href="@Url.Action("Details","Foto", new{id=foto.Id})">Dettagli</a>
                                </button>
                            </div>

                        </div>
                   </div>
               </div>
           }

       </div>

   </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>